/* WXSS 文件：样式 */
.container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // overflow: hidden;
  padding: 20rpx;
  height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  background-color: #f5f5f5;
}

.title {
  display: flex;
  align-items: left;
  font-size: 36rpx;
  font-weight: bold;
  margin-bottom: 40rpx;
}

.circle-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-top{
  display: flex;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(135deg, #f57285, #f0dbdb);
  background: conic-gradient(
    from 0deg at center,  /* 从 0° 开始，中心点为旋转原点 */
    #f79aa8,  /* 粉色 */
    #fa52a6,  /* 玫粉色 */
    #fceeee,  /* 白色 */
    #f39da8   /* 回到粉色（闭合循环） */
  );
  border-radius: 50%;
  height: 500rpx;
  width: 500rpx;
}
.circle {
  width: 400rpx;
  height: 400rpx;
  background: conic-gradient(
    from 0deg at center,  /* 从 0° 开始，中心点为旋转原点 */
    #ffb6c1,  /* 粉色 */
    #ff69b4,  /* 玫粉色 */
    #ffffff,  /* 白色 */
    #ffb6c1   /* 回到粉色（闭合循环） */
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  // box-shadow: 0 10rpx 20rpx rgba(0, 0, 0, 0.1);
}

.inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rpx;
  height: 100rpx;
  // background-color: #e6f0ff;
  border-radius: 50%;
  border: 10rpx solid #fa52a6;
  text-align: center;
  color: #d10047; /* 深玫红 */
  font-size: 30rpx;
  font-weight: bold;
}

.icon-container {
  margin: 40rpx 0;
}

.vibration-icon {
  width: 60rpx;
  height: 60rpx;
}

.slider-container {
  position: absolute;
  bottom: 100rpx; /* 调整这个值来控制距离底部的距离 */
  // left: 50%;
  // transform: translateX(-50%);
  background-color: #ffffff;
  width: 85%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 20rpx 20rpx rgba(0, 0, 0, 0.1);
  // box-shadow: 0 10rpx 10rpx rgba(0, 0, 0, 0.1), 0 -1rpx 1rpx rgba(0, 0, 0, 0.1); /* 上下阴影 */
}

.slider-label {
  font-size: 35rpx;
  color: #333;
  margin-bottom: 20rpx;
}

slider {
  width: 100%;
}

.slider-range {
  display: flex;
  justify-content: space-between;
  font-size: 24rpx;
  color: #666;
  margin-top: 10rpx;
}